<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.mall.mall_promotion.mapper.SmsFlashPromotionSessionMapper">

    <select id="findPromotionSession" resultType="com.mr.mall.mall_promotion.entity.SmsFlashPromotionSession" >
        select *  from sms_flash_promotion_session
    </select>
</mapper>